extern/imgui/imconfig-sfml.h
SFML

extern/display_sdl/Makefile
./Makefile
extern/display_sfml/Makefile
extern/sound_sdl/Makefile
extern/sound_sfml/Makefile

jsoncpp/
imgui/imconfig-sfml.h
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cbp
.objs/
.deps/
nibbler
*.DS_Store
obj
td
cmake-build-debug
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/encodings.xml
extern/SFML/.editorconfig
extern/SFML/.gitattributes
extern/SFML/.github/
extern/SFML/.travis.yml
extern/SFML/CMakeLists.txt
extern/SFML/CONTRIBUTING.md
extern/SFML/appveyor.yml
extern/SFML/changelog.md
extern/SFML/cmake/
extern/SFML/doc/
extern/SFML/examples/
extern/SFML/extlibs/Android.mk
extern/SFML/extlibs/headers/
extern/SFML/extlibs/libs-osx/
extern/SFML/include/
extern/SFML/license.md
extern/SFML/readme.md
extern/SFML/src/
extern/SFML/tools/
