extern/imgui/imconfig-sfml.h

cmake-build-release/
cmake-build-debug/

./Makefile
./nibbler/Makefile
./dynamicLibraries/display_glfw/Makefile
./dynamicLibraries/display_sdl/Makefile
./dynamicLibraries/display_sfml/Makefile
./dynamicLibraries/sound_sdl/Makefile
./dynamicLibraries/sound_sfml/Makefile


jsoncpp/
imgui/imconfig-sfml.h
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cbp
.objs/
.deps/
nibbler
*.DS_Store
obj
td
cmake-build-debug
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/encodings.xml
