[submodule "cmake/boost-cmake"]
	path = cmake/boost-cmake
	url = https://github.com/Orphis/boost-cmake
[submodule "extern/imgui/imgui-sfml"]
	path = extern/imgui/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "cmake/sdl2-cmake-scripts"]
	path = cmake/sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts
